body{
  background-color: #e3fdfd;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #ad6989;
}

 h2{
  color: #ffa299;
}

h3{
  color: #5c2a9d;
}
img{
    border-radius: 100%;
}

img:hover{
  background-color: gold;

}
